/* CSS Reset */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Google font*/
body  {
  font-family: 'Open Sans', sans-serif;
}

nav {
/* 1 root element = 16px */
  /*padding-top: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;*/
  padding: 0.8rem;
  margin: 2rem;
/* adds a border at the  bottom of the element with 1px solid gray line */
  border-bottom: 1px solid gray;
  list-style-type: none;
}
/*Margin vs Padding*/
/*Margin is used to create space between two elements*/
/*padding is used to  create space between the element's border and the element's content*/

nav ul{
  list-style-type: none;
}

nav .nav, nav .nav-logo{
/*  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;*/
  margin: 0.5rem;
/* changes the block elements to inline elements */
  display: inline;
}

#intro{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

#intro h2, #intro p{
  margin-bottom: 1rem;

}
#intro button {
  color: white;
  font-weight: bold;
  background-color: #c2195b;
  border-radius: 25px;
  font-size: 1rem;
  padding: 1rem;
}

#succeed-info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#succeed-info h2, #succeed-info h3{
  margin-bottom: 3rem;
  text-align: center;
}

#succeed-info .card{
/* allows cards to appear beside each other */
  display: inline-block;
/* aligns the elements at the top of the box */
/*used with inline-block elements*/
  vertical-align: top;
/* allows the card to have equal heights despite having unequal contents */
  min-height: 175px;
/* this is the % of the screen in which the element will consume */
  width: 30%;
  margin-left: 0.5rem;
  margin-right: 0.5rem ;
}
